<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duanweiye.flutter.study.olympic.metal.list.flutter_study_olympic_metal">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
